@import "./bulmaVariables.scss";
@import '../../../node_modules/bulma/bulma.sass';

.columns {
  padding: 0 1rem;
}

.input {
  background: $background;
}

.is-green-color {
  color: $green;
}

.is-red-color {
  color: $red;
}

.label {
  color: currentColor !important;
}

p.title {
  font-size: 2rem;
  font-weight: 900;
}

.select > select {
  background: $background;
}

small {
  color: $red;
}

.tile.is-ancestor {
  margin: -12px 0 0 !important;
  flex-wrap: wrap;
}

// .title {
//   border: 1px solid $black;
//   font-size: 1.5rem;
//   font-weight: 900;
//   padding: 1rem;
// }