@import '@/assets/scss/global.scss';

.notification.is-cyan {
  background-color: $cyan;
  color: $black-bis;
}

.tile.content-height {
  flex-direction: column;
}

.has-space-between {
  display: flex;
  justify-content: space-between;
}